body {
    width: 100%;
    height: 100%;
    background-color: black;
}

header {
    display: block;
    text-align: center;
    color: white;
    padding-bottom: 0.5rem;
}


header h1,
header form,
header form select,
header input,
header nav,
header nav ul,
header nav ul li,
header div,
header div p {
    display: inline;
    font-family: "Courier New", Courier, monospace;
    margin-left: 0.2rem;
    font-size: medium;
}

header input {
    color: white;
    background-color: black;
    font-size: medium;
    font-weight: bold;
    border: none;
}

header form select {
    padding-right: 0px;
    margin: 0px;
    display: inline;
}

header nav ul li {
    margin-right: 0.2rem;
    padding: 0.2rem 0.2rem 0rem 0.2rem;
    cursor: pointer;
    border-radius: 3px 3px;
    border: 1px solid white;
    font-weight: 400;
}

header nav ul li:hover {
    color: black;
    background-color: white;
}


svg {
    margin: auto;
    display: block;
    filter: drop-shadow(0px 0px 3px white);
}
